name: Pages - Real GDP Growth QoQ

on:
  schedule:
    - cron: '35 1 2 2,5,8,11 *'  # Runs at 01:35 UTC on the 2nd day of Feb, May, Aug, Nov
  workflow_dispatch:  # Allows manual triggering if needed

permissions:
  contents: write

jobs:
  update-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install pandas openpyxl

      - name: Run Python script
        run: python scripts/pages-real-gdp-qoq.py

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add ./us-real-gdp-growth-qoq/index.html
          git commit -m "Updated HTML with latest data"
          git push
